## Python Class notebook Lecture 1-4

This notebook will go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Printing / Print formating
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* functions
* map and filter
____

## Data Types

#### Numbers

1,2,3,4,5,6  -- Integers

1.2 , 1.5 , 56.82  -- Float 

* **No Type Declaration in Python**
* **No Type Casting required**

In [1]:
## Variable assignment
a = 3
b = 2

In [149]:
 #+ , - , * , / , % , **

In [162]:
** -- exponent
// -- integer

False

### Operations on Numbers

* Arthematic Operations
* Logical Operations
* comparison Operation

We can perform Arithematic Operations with numbers
+ ,  -  , *  , / , ** , %

In [12]:
2+3

5

In [13]:
34-2

32

In [14]:
3*5

15

In [15]:
10/3

3.3333333333333335

In [15]:
10//3  ## floor division (it will only return integer part after division)

3

In [10]:
10%2  ## modulo ## Remainder

0

In [11]:
31%4

3

In [14]:
2**4 ## Exponent

16

In [5]:
c = a/b

In [6]:
c

3.3333333333333335

In [1]:
10.5%2

0.5

In [6]:
type(c)

float

In [8]:
## Variable assignment
a = 10
b = 3

In [10]:
c = a/b

## String

1. srting declaration - 
2. traversal / retrival-- 
3. string operation -- + , *
4. String methods

* String Declaration

1st Way

In [15]:
s = 'Hello'   ## single quote

2nd Way

In [17]:
t = "Hello World It's Sunday" ## double quote

3rd Way

In [18]:
u = '''
Hello All
This is a Data Science class
Good Afternoon!!
'''

* String Traversal

In [7]:
t = "Hello World It's Sunday Good Afternoon!!"

In [17]:
t[0:11:2]

'HloWrd'

In [24]:
t[6:11]

'World'

In [66]:
s.upper()

'SIMI'

In [67]:
s.lower()

'simi'

In [73]:
s.endswith('@gmail.com')

True

In [75]:
s.startswith('S')

True

In [79]:
s.count('S')

1

In [88]:
s.find('M')

-1

## Split()

In [132]:
s = 'for loop'

In [133]:
print(s)

for loop

In [134]:
s.isidentifier()

False

In [92]:
s.split()

['I', 'am', 'teaching', 'Python', 'basics']

In [97]:
s.split('teaching')

[' I am #', ' #Python basics#    ']

In [95]:
s.split('#')

[' I am ', 'teaching ', 'Python basics', '    ']

## String methods

In [18]:
t = "Hello World It's Sunday Good Afternoon!! Hello@"

In [2]:
t.split()  ## Spliting the string on white spaces

['Hello', 'World', "It's", 'Sunday', 'Good', 'Afternoon!!', 'Hello@']

In [19]:
t.split('Z')

["Hello World It's Sunday Good Afternoon!! Hello@"]

In [20]:
t.count('o') ## count the occurances of substring in the main string

7

In [52]:
t.endswith('Hello@')

True

In [22]:
t.upper()

"HELLO WORLD IT'S SUNDAY GOOD AFTERNOON!! HELLO@"

In [31]:
t.isdigit()

False

In [48]:
t = '''
hello world it's sunday good afternoon!!

this is another line

'''

In [49]:
t.islower()

True

### strip()

In [104]:
s = ' I am # teaching # Python basics #    '
s.strip()
s.replace('Python','Java')

In [7]:
hello = 1000

### Logical Operation

* All logical operation will result Boolean value.

In [16]:
4>3

True

In [19]:
415<10

False

In [28]:
4>=4

True

In [29]:
1<= 10

True

In [30]:
1 != 2

True

## Comparision Operation

==  comparision

In [11]:
a = 100

In [12]:
b = 10

In [13]:
a == b

False

In [22]:
1 == 1

True

In [3]:
True == 1

True

In [6]:
False == 0

True

### Boolean 

* True
* False

## List

**List is a hetrogenious collection of data**

In [13]:
l1 = [1,2,3,4,5,6,7,8,9,10]

In [16]:
l1[2]

3

In [6]:
l2 = ['A','B','C',1,2,3,4,5,6]

In [9]:
l3 = ['Madhur Jain','Shivani Koushal', 'Manisha Koushal','print', 'def', True, False,12]
        0                1                  2                3     4     5     6     7
       -8               -7                 -6               -5    -4    -3    -2    -1

In [55]:
### Nested List

In [60]:
l2 = ['A','B','C',['Madhur Jain','Shivani Koushal', 'Manisha Koushal'],5,6]

In [61]:
l2[3][1]

'Shivani Koushal'

In [62]:
l2[3][2]

'Manisha Koushal'

In [63]:
l2[3][1:]

['Shivani Koushal', 'Manisha Koushal']

### Reverse Indexing

In [47]:
l3[0]

'Madhur Jain'

In [48]:
l3[-8]

'Madhur Jain'

In [54]:
l3[-1:-4:-1]

[12, False, True]

### Negative indexing

### Slicing

In [41]:
sub  = l3[1:5]

In [42]:
sub

['Shivani Koushal', 'Manisha Koushal', 'print', 'def']

In [45]:
sub  = l3[1:4:2]

In [46]:
sub

['Shivani Koushal', 'print']

How to retrieve data

In [17]:
l2[-2:]

[5, 6]

In [19]:
l1[:]   ## default value for start index is the 0th index , end index + 1 and step size == 1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
l1[::-1]   ## Traversing the list in reverse order

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

l[start index : end index + 1 : step size]

In [66]:
l2 = [1,2,3,4,5,6,'a','b']

In [37]:
l2[-1]

6

In [69]:
l2[-6]

3

In [70]:
l2[-1:-4:-1]

['b', 'a', 6]

### Methods on List

In [3]:
l1 = [1,2,3,3,4,5,'a','madhur']
      0 1 2 3 4 5  6   7

In [11]:
l1[:]

[1, 2, 3, 3, 4, 5, 'a', 'madhur']

In [18]:
l2 = [1,2,3,4,5,6,7]

In [19]:
l2

[1, 2, 3, 4, 5, 6, 7]

### Append method

In [20]:
l2.append(8)

In [21]:
l2

[1, 2, 3, 4, 5, 6, 7, 8]

* Append Method insert the data at the end of the list

* Insert method will insert the data at specific index position.

In [22]:
l2.insert(5,"All")

In [24]:
l2.insert(0,"a")

In [25]:
l2

['a', 1, 2, 3, 4, 5, 'All', 6, 7, 8]

* Pop --> delete from the end

In [26]:
l2.pop()

8

In [27]:
l2

['a', 1, 2, 3, 4, 5, 'All', 6, 7]

In [32]:
l1 = [2,4,6,9,10,1]

l1

[2, 4, 6, 9, 10, 1]

In [35]:
l1.sort(reverse = True)

In [36]:

l1

[10, 9, 6, 4, 2, 1]

In [38]:
l2.reverse()

In [39]:
l2

['a', 1, 2, 3, 4, 5, 'All', 6, 7]

In [41]:
l2.index('All')

6

In [42]:
l2.remove('All')

In [46]:
l2 = ['a', 1,1,1,1,1, 2, 3, 4, 5, 6, 7]

In [47]:
l2.count(1)

5

In [48]:
l1

[10, 9, 6, 4, 2, 1]

In [49]:
l2

['a', 1, 1, 1, 1, 1, 2, 3, 4, 5, 6, 7]

In [50]:
l1.extend(l2)

In [51]:
l1

[10, 9, 6, 4, 2, 1, 'a', 1, 1, 1, 1, 1, 2, 3, 4, 5, 6, 7]

In [52]:
l3 = l1.copy()

In [53]:
l3

[10, 9, 6, 4, 2, 1, 'a', 1, 1, 1, 1, 1, 2, 3, 4, 5, 6, 7]

## Nested List

In [2]:
l  = [1,2,3,['Hello','All']]

In [3]:
l1 = ['Hello','All', ['Cool']    ]

In [48]:
l

[1, 2, 3, ['Hello', 'All', ['Cool']]]

'Cool'

In [4]:
l  = [1,2,3,[4,5,6, "Hello"] ]

In [5]:
lst = [1,2,0,[3,4],[5,0,[100,200,300, 400,['hello']],23,11],1,7]

[200, 300]

## Dictionary

In [54]:
d = {'Key1': [1,2,3,4,5] , 'Key2': [6,7,8,9,10]}

In [61]:
d['Key1'][2]

3

In [59]:
d['Key2']

[6, 7, 8, 9, 10]

In [63]:
d1 = {'K1':[1,2,3,4] , 'K2':[5,6,7,8]}

In [64]:

d1['K2'][2]

7

In [55]:
d2 = {'a':1,'b':2}

In [65]:
d2['b']

2

In [60]:
d2['a']

1

In [57]:
d3 = {'India':['MH','HP','CG'] , 'US':['NY','AK']}

In [67]:
d3['US'][0]

'NY'

##  Dictionary methods

In [69]:
d3.keys()

dict_keys(['India', 'US'])

In [70]:
d3.values()

dict_values([['MH', 'HP', 'CG'], ['NY', 'AK']])

In [71]:
d1.items()

dict_items([('K1', [1, 2, 3, 4]), ('K2', [5, 6, 7, 8])])

## Insert key , value in the dictionary

In [72]:
d3

{'India': ['MH', 'HP', 'CG'], 'US': ['NY', 'AK']}

In [73]:
d3['China'] = ['BJ','Sh']

In [74]:
d3

{'India': ['MH', 'HP', 'CG'], 'US': ['NY', 'AK'], 'China': ['BJ', 'Sh']}

In [75]:
d3['Australia'] = []

In [76]:
d3

{'India': ['MH', 'HP', 'CG'],
 'US': ['NY', 'AK'],
 'China': ['BJ', 'Sh'],
 'Australia': []}

In [77]:
d3['Australia'].append('CR')

In [78]:
d3['Australia'].append('SYD')

In [80]:
d3

{'India': ['MH', 'HP', 'CG'],
 'US': ['NY', 'AK'],
 'China': ['BJ', 'Sh'],
 'Australia': ['CR', 'SYD']}

In [81]:
d3['India'].insert(1,'KL')

In [82]:
d3

{'India': ['MH', 'KL', 'HP', 'CG'],
 'US': ['NY', 'AK'],
 'China': ['BJ', 'Sh'],
 'Australia': ['CR', 'SYD']}

In [83]:
d3['India'].remove('KL')

In [86]:
d3['europe'] =['paris']

In [87]:
d3

{'India': ['MH', 'HP', 'CG'],
 'US': ['NY', 'AK'],
 'China': ['BJ', 'Sh'],
 'Australia': ['CR', 'SYD'],
 'europe': ['paris']}

In [89]:
d3['europe'].append('italy')

In [90]:
d3

{'India': ['MH', 'HP', 'CG'],
 'US': ['NY', 'AK'],
 'China': ['BJ', 'Sh'],
 'Australia': ['CR', 'SYD'],
 'europe': ['paris', 'italy']}

In [91]:
d3.keys()

dict_keys(['India', 'US', 'China', 'Australia', 'europe'])

In [92]:
d3.values()

dict_values([['MH', 'HP', 'CG'], ['NY', 'AK'], ['BJ', 'Sh'], ['CR', 'SYD'], ['paris', 'italy']])

In [93]:
d3.items()

dict_items([('India', ['MH', 'HP', 'CG']), ('US', ['NY', 'AK']), ('China', ['BJ', 'Sh']), ('Australia', ['CR', 'SYD']), ('europe', ['paris', 'italy'])])

## Nested Dictionary

In [100]:
countries = {'India': [{'MH':['Pune','Mumbai','Nasik']}, 'KL', 'HP', 'CG', 
                       {'MP':['Indore','Bhopal',{'Narsinghpur':['kareli','barman','gotegoan','harrai']},'Jabalpur']}],
 'US': ['NY', 'AK'],
 'China': ['BJ', 'Sh'],
 'Australia': ['CB']}

In [98]:
countries['India'][0]['MH'][1]

'Mumbai'

In [101]:
countries['India'][4]['MP']

['Indore',
 'Bhopal',
 {'Narsinghpur': ['kareli', 'barman', 'gotegoan', 'harrai']},
 'Jabalpur']

In [103]:
countries['India'][4]['MP'][2]['Narsinghpur'][2]

'gotegoan'

In [215]:
countries['India'][0]['Vidarbha'] = ['Nagpur','Bhandara']

In [218]:
countries['India'][0]['MH'][1] = 'Lonavala'

In [219]:
countries

{'India': [{'MH': ['Pune', 'Lonavala', 'Nasik'],
   'Vidarbha': ['Nagpur', 'Bhandara']},
  'KL',
  'HP',
  'CG',
  {'MP': ['Indore', 'Bhopal', 'Jabalpur']}],
 'US': ['NY', 'AK'],
 'China': ['BJ', 'Sh'],
 'Australia': ['CB']}

In [177]:
countries['India'][0]['MH'][2]

'Nasik'

In [1]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

## Tuples

###### This is immutable

* It cannot be changed or updated.
* Cannot delete any element for tuples.

In [113]:
t = (1,2,3,4,5,6)

In [114]:
type(t)

tuple

In [180]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [117]:
l3 = [('Jan',1),('Feb',2),('Mar',3)]

In [181]:
l3[0]

('Jan', 1)

## Set

set theory --> Venn diagram

* It stores only unique value. 
* It return data in sorted order.

* Union
* Intersection

In [182]:
s = {1,2,2,2,2,2,3,4,5,6,6,7,7,8,8}

In [183]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [184]:
s1 = {99,23,46,1,0,56,23,1,0}

In [185]:
s1

{0, 1, 23, 46, 56, 99}

In [186]:
l1 = [1,2,1,3,5,6,8,9,9]
l2 = [1,3,5,7,9,10]

In [190]:
result = set(l1) - set(l2)

In [192]:
list(result)

[8, 2, 6]

In [189]:
set(l1).intersection(set(l2))

{1, 3, 5, 9}

## Printing --> Print formating

Use **.format** command to print the value of a variable a specific position inside the string.

In [194]:
print('Hello')

Hello

In [126]:
print("hello all my lucky number is :",10)

hello all my nucky number is : 10

In [196]:
a = 10 
print("hello all my lucky number is :",a)

hello all my lucky number is : 10

In [199]:
a = '8th August 2020'
print("Today's date is {} its a lucky  day for me".format(a))

Today's date is 8th August 2020 its a lucky  day for me

In [212]:
a = [10,1,11,1]
b = 'Ram'

In [213]:
print("Hello my name is {} and my age is {}".format(b,a))

Hello my name is Ram and my age is [10, 1, 11, 1]

In [206]:
print("Hello my name is {} and my age is {}".format(a,b))

Hello my name is 10 and my age is Ram

In [207]:
print("Hello my name is {a} and my age is {b}".format(a = a,b=b))

Hello my name is 10 and my age is Ram

## If - else

In [3]:
if 2 < 3:   
    print('Hello')
    print("World")

Hello
World

In [5]:
if 2 > 3:   
    print('Hello')
    print("World")
elif (1 == 1): 
    print("Good Bye")

Good Bye

In [6]:
if 2 > 3:   
    print('Hello')
    print("World")
else: 
    print('Bye')

Bye

In [7]:
if 2 > 3:   
    print('Hello')
    print("World")
elif (3 == 1): 
    print("Good Bye")
elif 3 ==3:
    print('Have a great day')
else: 
    print('Bye')

Have a great day

In [235]:
if 2 > 3:   
    print('Hello')
    print("World")
elif (3 == 1): 
    print("Good Bye")
elif 3 ==3:
    print('Have a great day')
else: 
    print('Bye')
        
print("This will be considered outside the if block")

Have a great day
This will be considered outside the if block

## How to take user input

In [9]:
a = input("Please enter a number")

Please enter a number23

***Write a program to check number is even or Odd ?***

In [10]:
a = int(a)

In [12]:
if a%2 == 0:
    print("The number {} is even".format(a))
else:
    print("The number {} is odd".format(a))

The number 23 is odd

***Write a program to check the divisibility of a number by 2 and  3 and 6***

In [20]:
a = input("Please enter a number")
a = int(a)

Please enter a number24

**Bitwise operator**
 * Chained operations can be performed using Bitwise operator.

    * & --> and

    * | --> or

In [22]:
if (a%2 == 0) & (a%3 == 0) :
    print("The number {} is divisible by 2 ,3 and 6".format(a))
elif a%2 == 0:
    print("The number {} is divisible by 2".format(a))
elif a%3 == 0:
    print("The number {} is divisible by 3".format(a))
else:
    print("Number {} is not divisible by 2 or 3 or 6".format(a))

The number 24 is divisible by 2 ,3 and 6

### Nested If-else

In [270]:
x = int(input("Enter a number."))

if x%2 == 0:
    if x < 10:
        print(x, "is an even number which is less than 10")
    else:
        print(x, "is an even number greater than 10")
else:
    if x < 10:
        print(x, "is an odd number which is less than 10")
    else:
        print(x, "is an odd number greater than 10")

Enter a number.1
1 is an odd number which is less than 10

In [17]:
import sys

In [21]:
from itertools import combinations
s ="ciridmtxsgaryv"
out = []
for i in s:
    if i not in out:
        out.append(i)
for length in range(len(out),0,-1):
    for i in combinations(out, length):
        if ''.join(i) in s:
            print (len(''.join(i)))
            sys.exit()

8

SystemExit:

C:\Users\mdhrj\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3426: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
s ="ciridmtxsgaryv"
test = ""
maxLength = -1

if (len(s) == 0):
    print(0)
elif(len(s) == 1):
    print(1)
for c in s:
    if (c in test):
        test = test[test.index(c) + 1:]
    print("test1:", test)
    test = test + c
    print("test2:", test)
    maxLength = max(len(test), maxLength)

In [28]:
def lengthOfLongestSubstring(s):
        maxLen = 1
        if s == '':
            return 0                      # Dealing with one edge case
        for i in range(len(s)):
            substring = s[i]
            print("Substring::",substring)# Initialising the substring
            for j in range(i+1, len(s)):  # Starting to append characters to substring from i+1
                if s[j] not in substring: # As long as its not repeating. "not in" can be used to check if the character isn't already there in the substring
                    substring = substring + s[j]
                    print("Inner substring:::",substring)
                    maxLen = max(maxLen, len(substring)) # Updating maxLen if it is greater than the existing maxLen
                else:
                    break
        return maxLen

In [30]:
lengthOfLongestSubstring("ciridmtxsgaryv")

Substring:: c
Inner substring::: ci
Inner substring::: cir
Substring:: i
Inner substring::: ir
Substring:: r
Inner substring::: ri
Inner substring::: rid
Inner substring::: ridm
Inner substring::: ridmt
Inner substring::: ridmtx
Inner substring::: ridmtxs
Inner substring::: ridmtxsg
Inner substring::: ridmtxsga
Substring:: i
Inner substring::: id
Inner substring::: idm
Inner substring::: idmt
Inner substring::: idmtx
Inner substring::: idmtxs
Inner substring::: idmtxsg
Inner substring::: idmtxsga
Inner substring::: idmtxsgar
Inner substring::: idmtxsgary
Inner substring::: idmtxsgaryv
Substring:: d
Inner substring::: dm
Inner substring::: dmt
Inner substring::: dmtx
Inner substring::: dmtxs
Inner substring::: dmtxsg
Inner substring::: dmtxsga
Inner substring::: dmtxsgar
Inner substring::: dmtxsgary
Inner substring::: dmtxsgaryv
Substring:: m
Inner substring::: mt
Inner substring::: mtx
Inner substring::: mtxs
Inner substring::: mtxsg
Inner substring::: mtxsga
Inner substring::: mtxsgar
Inner substring::: mtxsgary
Inner substring::: mtxsgaryv
Substring:: t
Inner substring::: tx
Inner substring::: txs
Inner substring::: txsg
Inner substring::: txsga
Inner substring::: txsgar
Inner substring::: txsgary
Inner substring::: txsgaryv
Substring:: x
Inner substring::: xs
Inner substring::: xsg
Inner substring::: xsga
Inner substring::: xsgar
Inner substring::: xsgary
Inner substring::: xsgaryv
Substring:: s
Inner substring::: sg
Inner substring::: sga
Inner substring::: sgar
Inner substring::: sgary
Inner substring::: sgaryv
Substring:: g
Inner substring::: ga
Inner substring::: gar
Inner substring::: gary
Inner substring::: garyv
Substring:: a
Inner substring::: ar
Inner substring::: ary
Inner substring::: aryv
Substring:: r
Inner substring::: ry
Inner substring::: ryv
Substring:: y
Inner substring::: yv
Substring:: v

11